/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 10px auto;
  font-size: 16px;
  line-height: 1.71429;
  font-family: 'Raleway', sans-serif;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  /*padding-left: 14px;
  padding-right: 14px;*/
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
/*Agredando selectotes de etiqueta*/
section{
  /*outline: 1px solid green;*/
  top:20px;
  text-align: center;
  }
  header{
    margin:20px;
  }

div a {
  /*outline: 1px solid red;*/
  margin: 15px;
  position: relative;
  left:230px;
}
h5,h6{
  margin: 0;
  top: 0;
}


/*Agregando estilos a los selectores de clase*/
.bg-home{
  width: 1200;
  height: 350px;

}
.container-home{
  background-image: url(../assets/images/bg-home.jpg);
  height: 350px;
  color:white;
  top:0px;
}
/*contenedor 2: servicios*/
.container-services{
  position: relative;
  background:#F17C72;
  top:0px;
  height: 435px;
  /*margin: auto;*/
  color: white;
  font-size:12px;
}
.container-work{
  position: relative;
  height: 1545px;
  top: 0;
  color: black;
  font-size: 12px;
}
/*alineamos los elementos div con la declaración: "display:inline-block"*/
 .services{
  display: inline-block;
  position: relative;
  width: 33%;
  top:80px;
}
.Elementos_de_work{
  display: inline-block;
  position: relative;
  width: 33%;
  top:40px;
}

/*definimos el ancho,largo y margen a las imágenes de los servicios*/
.imagen-servicios{
  width: 130px;
  height: 130px;

}
.imagen_work{
  width: 200px;
  height: 200px;
}
.imagen_hero{
  height: 600px;
}

/*establecer margenes entre elementos*/
.anuncio-portada{
 position: relative;
 top:40px;
}
